<div class='container mt-5'>
  <form action='/restaurants' method='POST'>
    <div class='form-group form-row'>
      <label for='name' class='col-md-2 col-form-label'>餐廳名稱 (必填)</label>
      <div class='col-md-10'>
        <input
          type='text'
          name='name'
          class='form-control'
          id='name'
          placeholder='餐廳名稱...'
          required
        />
        <small class='text-info form-text'>ex: Sababa 沙巴巴中東美食</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='name_en' class='col-md-2 col-form-label'>餐廳英文名稱</label>
      <div class='col-md-10'>
        <input
          type='text'
          name='name_en'
          class='form-control'
          id='name_en'
          placeholder='餐廳英文名稱...'
        />
        <small class='text-info form-text'>ex: Sababa Pita Bar</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='category' class='col-md-2 col-form-label'>餐廳類別 (必填)</label>
      <div class='col-md-10'>
        <input
          list='category-flavors'
          name='category'
          class='form-control'
          id='category'
          placeholder='餐廳類別...'
          required
        />
        <datalist id='category-flavors'>
          {{#each categories}}
            <option>{{this}}</option>
          {{/each}}
        </datalist>
        <small class='text-info form-text'>ex: 中東料理</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='image' class='col-md-2 col-form-label'>餐廳圖片網址 (必填)</label>
      <div class='col-md-10'>
        <input
          list='image-flavors'
          name='image'
          class='form-control'
          id='image'
          placeholder='餐廳圖片網址...'
          required
        />
        <datalist id='image-flavors'>
          <option
          >https://i.picsum.photos/id/163/2000/1333.jpg?hmac=htdHeSJwlYOxS8b0TTpz2s8tD_QDlmsd3JHYa_HGrg8</option>
          <option
          >https://i.picsum.photos/id/292/3852/2556.jpg?hmac=cPYEh0I48Xpek2DPFLxTBhlZnKVhQCJsbprR-Awl9lo</option>
        </datalist>
        <small class='text-info form-text'>ex:
          https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='location' class='col-md-2 col-form-label'>餐廳地址 (必填)</label>
      <div class='col-md-10'>
        <input
          type='text'
          name='location'
          class='form-control'
          id='location'
          placeholder='餐廳地址...'
          required
        />
        <small class='text-info form-text'>ex: 台北市羅斯福路三段 283 巷 17 號</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='phone' class='col-md-2 col-form-label'>餐廳電話 (必填)</label>
      <div class='col-md-10'>
        <input
          type='tel'
          name='phone'
          class='form-control'
          id='phone'
          placeholder='餐廳電話...'
          pattern='[0-9]{2} [0-9]{4} [0-9]{4}'
          required
        />
        <small class='text-info form-text'>ex: 02 2363 8009</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='google_map' class='col-md-2 col-form-label'>Google map 網址
        (必填)</label>
      <div class='col-md-10'>
        <input
          type='text'
          name='google_map'
          class='form-control'
          id='google_map'
          placeholder=' Google map 網址...'
          required
        />
        <small class='text-info form-text'>ex: https://goo.gl/maps/BJdmLuVdDbw</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='rating' class='col-md-2 col-form-label'>餐廳評分 (必填)</label>
      <div class='col-md-10'>
        <input
          type='number'
          step='0.1'
          min='0'
          max='5'
          name='rating'
          class='form-control'
          id='rating'
          placeholder='餐廳評分(0 ~ 5)...'
          required
        />
        <small class='text-info form-text'>ex: 4.1</small>
      </div>
    </div>
    <div class='form-group form-row'>
      <label for='description' class='col-md-2 col-form-label'>餐廳詳細介紹
        (必填)</label>
      <div class='col-md-10'>
        <textarea
          rows='4'
          name='description'
          class='form-control'
          id='description'
          placeholder='餐廳詳細介紹...'
          required
        ></textarea>
        <small class='text-info form-text'>ex:
          沙巴巴批塔是台灣第一家純手工批塔專賣店...</small>
      </div>
    </div>
    <div class='text-center'>
      <button class='btn btn-info btn-lg' type='submit'>新增餐廳</button>
    </div>
  </form>
  <!-- btn back -->
  <a href='/' class='btn btn-info btn-lg btn-back'>
    <i class='fas fa-home'></i>
  </a>
</div>